.Clients{
    width: 90vw;
    margin-left: 4.5vw;
}
#dropdown-basic-button{
    margin-right: 85vw;
}
.costumer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    cursor: pointer;
    position: initial;
}
.fa-check{
    color: green
}
.fa-times{
    color: red
}
#topBar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2vh;
}